FLASK_APP=app.py

DB_ENGINE=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=usuario_app
DB_PASSWORD=CAMBIAR
DB_NAME=gestion_entrenamiento_v2

SECRET_KEY=CAMBIAR
SESSION_COOKIE_NAME=my_session_v2

WHATSAPP_ENABLED=false
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_VERSION=v23.0
