<header class="page-heading page-heading--minimal">
  <img src="../img/logo_sin_fondo.png" alt="MindPace" class="brand-logo">
  <img src="../img/letra_sin_fondo.png" alt="MindPace" class="brand-wordmark">
</header>
<nav class="navbar navbar-expand-lg navbar-dark app-nav">
  <div class="container-fluid px-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" data-nav-target="inicio" href="index.html">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-nav-target="atletas" href="#" id="dropdownAtletas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mis Atletas
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownAtletas">
            <li><a class="dropdown-item" data-nav-target="atletas-lista" href="atletas.html">Lista de Atletas</a></li>
            <li><a class="dropdown-item" data-nav-target="atletas-aprobar" href="aprobar_atletas.html">Aprobar Solicitudes</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-nav-target="grupos" href="grupo_entrenamiento.html">Gestión de grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-nav-target="entrenamientos" href="entrenamientos.html">Gestión de entrenamiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-nav-target="estadisticas" href="estadisticas.html">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-nav-target="utilidades" href="utilidades.html">Utilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-nav-target="feedback" href="feedback.html">Bandeja de feedback</a>
        </li>
      </ul>
      <button class="btn btn-outline-brand ms-lg-3" id="btn-logout">Salir</button>
    </div>
  </div>
</nav>
